<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="fixed-top oval-header">
        <nav>
            <div class="container d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
                    <span class="ml-2">CarAcc: Your Accessory Hub</span>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('body') }}">Home</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user_products') }}">Products</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('user_search_products') }}">Search</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('select_products') }}">Place Order</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('user_order') }}">MY Order</a></li>

                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="main-content container">
        <h1>Order Confirmation</h1>
        <ul>
            {% for order in orders %}
                <li>
                    {{ order['product_name'] }} - ${{ order['price'] }} - Quantity: {{ order['quantity'] }} - Subtotal: ${{ order['subtotal'] }}
                    <form method="POST" action="{{ url_for('delete_order', order_id=order['order_id']) }}">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </main>
    {% include 'footer.html' %}
</body>
</html>
